* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px 0px 10px 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #080808;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 3px solid #fff;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 3px solid #e7e7e7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 3px solid #a0a0a0;
    border-left-color: transparent;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 3px solid #fff;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 3px solid #e7e7e7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 3px solid #a0a0a0;
    border-left-color: transparent;
  }
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/profile1.jpg);

  background-size: cover;
  background-position: center;
}
/* #498d8f */
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  /* mix-blend-mode:color; */
  scale: 2.3;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #498d8f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav .fas {
  display: none;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
  text-transform: capitalize;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #498d8f;
}

/* ==================About us =================================== */

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.subtitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #498d8f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active::after {
  width: 50%;
}
.tab-links:hover::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.tab-contents ul li span {
  color: #498d8f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* =============Services=========================== */

#services {
  padding: 30px 0;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.service-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: backgorund 0.5s, transform 0.5s;
}
.service-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.service-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.service-list div a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}
.service-list div:hover {
  background: #0b4244;
  transform: translateY(-10px);
}

/* ================portfolio=================== */

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.mask {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #0b4244);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.mask h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.mask a {
  margin-top: 20px;
  color: #498d8f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .mask {
  height: 100%;
}
.p-btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #0b4244;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.p-btn:hover {
  background: #0b4244;
}

/* ========================Contact=================== */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #498d8f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #0b4244;
  transform: translateY(-5px);
}
.c-btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  background: #0b4244;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.c-btn:hover {
  background: #072d2e;
}
.s-btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  background: #0b4244;
  padding: 14px 60px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.s-btn:hover {
  background: #072d2e;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  resize: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.copyright {
  text-align: center;
  width: 100%;
  padding: 25px 0;
  font-weight: 500;
  font-size: 18px;
}
.copyright a {
  text-decoration: none;
  color: #498d8f;
}
.enquery {
  text-align: center;
  width: 100%;
  padding: 25px 0;
  font-weight: 500;
  font-size: 18px;
  background: #262626;
  border-radius: 10px;
  text-transform: capitalize;
}
.enquery a {
  text-decoration: none;
  color: #498d8f;
}
.enquery a:hover {
  color: #0b4244;
}


.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px; /* add this line */

  display: flex;
  justify-content: flex-end;
}
.page-up a {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  /* background: #072d2e; */
  line-height: 50px;
  text-align: center;
  border-radius: 50%;

 
}
/* Add some animation to the button */
#scrollToTopButton {
  transition: transform 0.3s ease-in-out;
}

#scrollToTopButton:hover {
  transform: translateY(-5px);
}
/* ===================media query================== */

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/profile1-m.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #262626;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .subtitle {
    font-size: 18px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .enquery {
    font-size: 14px;
  }
  .copyright {
    font-size: 10px;
  }
}
